.topHead {
    text-align: center;
    background-color: rgb(14 13 13);
    color: #e00e0e;
    text-shadow: 3px 4px 1px hsl(120deg 100% 25%);
}

/* This Is comment */

.sub-head {
    background: black;
    color: wheat;
    text-align: center;
    letter-spacing: 13px;
}
.Align-div {
    background-color: #000480;
}
.alg-left {
    text-align: left;
    color: #fff;
    text-decoration: underline;
}
.alg-center {
    text-align: center;
    color: #fff;
    text-decoration: line-through ;
}
.alg-right {
    text-align: right;
    color: #fff;
    text-decoration: overline;
}

/* This Is comment */

.txt-up {
    text-transform: uppercase;
}
.txt-lw {
    text-transform: lowercase;
}
.txt-cp {
    text-transform: capitalize;
}